body {
    margin: 16px;

    background-color: #2cb172;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
}

input {
    height: 24px;
    font-size: 18px;
}

#tag {
    width: 70px;
}

#mapName {
    width: 400px;
}

#result {
    font-size: 32px;
}

.text-inputs {
    margin-top: 32px;
}

.color-inputs, .style-inputs {
    margin-top: 12px;
}

#code {
    margin-bottom: 12px;
}

a {
    color: #fff;
}

/* Styles */

#result.narrow .result-tag {
    display: inline-block;
    font-size: 17px;
    transform: scaleY(2.0);
    transform-origin: 0 0%;
    vertical-align: top;
}

#result.wide .result-tag {
    display: inline-block;
    font-size: 48px;
    transform: scaleY(0.7);
    transform-origin: 0 0;
    margin-bottom: -50%;
    vertical-align: top;
}


#result.bold .result-tag {
    font-weight: 900;
}

#result.shadow .result-tag {
    text-shadow: 1.5px 1px 0px #000;
}

#result.shadow.narrow .result-tag {
    text-shadow: 1.5px 0.5px 0px #000;
}